# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp

# Dependências
/node_modules
/crypto-api/node_modules
/crypto-ui/node_modules
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Build e Outputs do TypeScript/NestJS
/dist
/crypto-api/dist
/crypto-api/coverage
/crypto-api/.env

# Build e Outputs do Terraform (IaC)
# O Terraform armazena o estado da sua infraestrutura aqui (MUITO SENSÍVEL)
/iac/.terraform
/iac/*.tfstate
/iac/*.tfstate.*
/iac/crash.log
/iac/.terraform.lock.hcl

# IDEs e Outros
.vscode
.DS_Store
