name: 004. Backend CD - Deploy

on:
  workflow_dispatch:
  workflow_run:
    workflows: ['003. Backend CI - Build and Push Image']
    types:
      - completed

concurrency:
  group: terraform
  cancel-in-progress: false
  
env:
  AWS_REGION: us-east-1
  TF_WORKING_DIR: ./iac/flow

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    # ✅ Só executa se o workflow CI terminou com sucesso
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download image_tag artifact (from CI)
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: 003_backend-ci.yml
          name: backend-image-tag
          path: .
          check_artifacts: true
          #search_artifacts: true
          workflow_conclusion: ""

      - name: Read IMAGE_TAG
        id: readtag
        run: |
          IMAGE_TAG=$(cat image_tag.txt)
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.0

      - name: Terraform Init
        run: terraform init
        working-directory: ${{ env.TF_WORKING_DIR }}

      - name: Terraform Apply (Deploy)
        run: terraform apply -auto-approve -var="image_tag=${{ steps.readtag.outputs.IMAGE_TAG }}"
        working-directory: ${{ env.TF_WORKING_DIR }}

