name: 2️⃣ Workflow Backend

on:
  push:
    branches:
      - main
    paths:
      - 'crypto-api/**' # Trigger apenas quando há push na pasta da API

  workflow_run:
    workflows: ["1️⃣ Setup Infra AWS"] # Nome exato do workflow
    types:
      - completed

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: pucrs-crypto-api-repo
  TF_WORKING_DIR: ./iac/flow

jobs:
  deploy_api:
    name: Build, Push & Deploy ECS Task
    runs-on: ubuntu-latest

    # Executa apenas se workflow_run foi concluído com sucesso ou se for push
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configurar Credenciais AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # 1️⃣ Login no ECR e Definição da Tag
      - name: Login no Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Definir Variáveis de Imagem
        id: vars
        run: |
          IMAGE_TAG=$(echo ${{ github.sha }} | cut -c1-7)
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_OUTPUT
          ECR_URI=${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}
          echo "ECR_URI=$ECR_URI" >> $GITHUB_OUTPUT

      # 2️⃣ Build da Imagem e Push para ECR
      - name: Build, Tag e Push da Imagem
        run: |
          docker build -t ${{ steps.vars.outputs.ECR_URI }}:${{ steps.vars.outputs.IMAGE_TAG }} ./crypto-api
          docker tag ${{ steps.vars.outputs.ECR_URI }}:${{ steps.vars.outputs.IMAGE_TAG }} ${{ steps.vars.outputs.ECR_URI }}:latest
          docker push ${{ steps.vars.outputs.ECR_URI }}:${{ steps.vars.outputs.IMAGE_TAG }}
          docker push ${{ steps.vars.outputs.ECR_URI }}:latest

      # 3️⃣ Deploy com Terraform
      - name: Configurar Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.0

      - name: Terraform Init
        run: terraform init
        working-directory: ${{ env.TF_WORKING_DIR }}

      - name: Terraform Apply (Deploy)
        run: terraform apply -auto-approve -var="image_tag=${{ steps.vars.outputs.IMAGE_TAG }}"
        working-directory: ${{ env.TF_WORKING_DIR }}
